<div class="column-layout">
    <table id="database_schema" style="width: 100%;">
        {% for table in db_schema %}
            <tr class="table_name">
                <th>
                    <strong>
                        {{table.name}}
                    </strong>
                </th>
                <th></th>
            </tr>
            {% for column in table.columns %}
            <tr>
                <td>
                    {% if column.pk %}
                        &#128273;
                    {% endif %}
                    <strong>
                        {{column.name}}
                    </strong>
                </td>
                <td>
                    {{column.type}}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>