.CodeMirror {
    border: 1px solid #eee;
    font-size: 24px ;
    min-height: 200px;
}

.column-layout {
    columns: 3 auto;
}
  
/* .column-layout table,
.column-layout thead,
.column-layout tbody,
.column-layout tr {
    display: block;
} */

.column-layout table {
    table-layout: fixed;
}